<h1>voici en quelque peu votre description, selon l'enregistrement: </h1>
	<h2>
		<p>
			<div>
			<ul>
				 <li> Nom: <   <%= @last_name %>    </li>
				 <li> Prenom :<  <%= @first_name %> </li>
				 <li> age: <  <%= @age %> ans     </li>
				 <li> email:<  <%= @email %>      </li>
				 <li> ville:<  <%= @city %>      </li>
				<li>description : < <%= @description %> </li>
			
			</ul>>

			</div> 

	</p>
</h2>>